.flex-container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 90%;
}

.flex-child {
    flex: 1;
    margin: auto;
}

.flex-child:first-child {
    margin-right: 20px;
}

.good {
    background-color: #00ff7f;
}

.bad {
    background-color: #fa8072;
}

h1 {
    color: #0077c8;
    font-family: Inria Serif;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    color: #0077c8;
    font-family: Inria Serif;
    margin: 0;
    display: inline;
    font-size: 20px;
}

p1 {
    font-family: Inria Serif;
    color: black;
    font-style: italic;
    text-align: center;
    margin: 0;
    display: inline;
    font-size: 20px;
}

p2 {
    font-family: Inria Serif;
    color: black;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 0;
    display: inline;
    font-size: 25px;
}