@page "/compare"

<PageTitle>Compare</PageTitle>

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet" />

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<body class="compare-body">
    <div class="compare-heading">
        <h1>Which property is right for you?</h1>
    </div>

    <div class="compare-container">
        <div class="row compare-row">
            <div class="col-lg-4 compare-col">
                <div class="house-img-wrapper">
                    <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" />
                </div>
                <div class="addy">4672 Bob Ave SE, Golden BC</div>

                <hr class="w-100" />

                <div class="house-price">
                    <div class="compare-text">Price:</div>
                    <div class="negative">$1,239,000</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Sqaure foot:</div>
                    <div class="positive">4100</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Bedrooms:</div>
                    <div class="positive">7</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Year built:</div>
                    <div class="negative">2001</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Bathroom:</div>
                    <div class="positive">5(full) + 2(half)</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Walkout basement:</div>
                    <div class="positive">Yes</div>
                </div>
            </div>
            <div class="col-lg-4 compare-col middle-col">
                <div class="house-img-wrapper">
                    <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" />
                </div>
                <div class="addy">123 Smith St NW, Calgary AB</div>
                <hr class="w-100" />

                <div class="house-price">
                    <div class="compare-text">Price:</div>
                    <div class="negative">$920,000</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Sqaure foot:</div>
                    <div class="negative">2398</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Bedrooms:</div>
                    <div class="negative">4</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Year built:</div>
                    <div class="positive">2012</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Bathroom:</div>
                    <div class="negative">5(full) + 1(half)</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Walkout basement:</div>
                    <div class="negative">No</div>
                </div>
            </div>

            <div class="col-lg-4 compare-col">
                <div class="house-img-wrapper">
                    <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" />
                </div>
                <div class="addy">24 Carlton St SW, Edmonton AB</div>
                <hr class="w-100" />

                <div class="house-price">
                    <div class="compare-text">Price:</div>
                    <div class="positive">$820,000</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Sqaure foot:</div>
                    <div class="positive">2765</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Bedrooms:</div>
                    <div class="positive">5</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Year built:</div>
                    <div class="positive">2019</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Bathroom:</div>
                    <div class="negative">5(full) + 1(half)</div>
                </div>
                <div class="house-price">
                    <div class="compare-text">Walkout basement:</div>
                    <div class="negative">No</div>
                </div>
            </div>
        </div>
    </div>
</body>

@code {

}
