@page "/compare"

<PageTitle>Compare</PageTitle>

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet" />

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<body class="compare-body">
    <div class="compare-heading">
      <h1>Which property is right for you?</h1>
    </div>

    <div class="compare-container">
      <div class="row compare-row">
        <div class="col-lg-4 compare-col">
          <div class="house-img-wrapper">
            <img
              src="images/duplex5.jpg"
            />
          </div>
          <div class="addy">4672 Bob Ave SE, Golden BC</div>

          <hr class="w-100" />

          <div class="house-price">
            <div class="compare-text">Price:</div>
            <div class="negative">$1,239,000</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Square foot:</div>
            <div class="positive">4100</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Bedrooms:</div>
            <div class="positive">7</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Year built:</div>
            <div class="negative">2001</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Bathrooms:</div>
            <div class="positive">5(full) + 2(half)</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Walkout basement:</div>
            <div class="positive">Yes</div>
          </div>
          <div class="listing-btn">
            <a>View this listing</a>
          </div>
        </div>
        <div class="col-lg-4 compare-col middle-col">
          <div class="house-img-wrapper">
            <img
              src="images/duplex2.jpg"
            />
          </div>
          <div class="addy">123 Smith St NW, Calgary AB</div>
          <hr class="w-100" />

          <div class="house-price">
            <div class="compare-text">Price:</div>
            <div class="negative">$920,000</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Square foot:</div>
            <div class="positive">2398</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Bedrooms:</div>
            <div class="positive">4</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Year built:</div>
            <div class="positive">2012</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Bathrooms:</div>
            <div class="negative">5(full) + 1(half)</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Walkout basement:</div>
            <div class="negative">No</div>
          </div>
          <div class="listing-btn">
            <a>View this listing</a>
          </div>
        </div>

        <div class="col-lg-4 compare-col">
          <div class="house-img-wrapper">
            <img
              src="images/duplex1.jpg"
            />
          </div>
          <div class="addy">1707 17 Avenue NW, Calgary AB</div>
          <hr class="w-100" />

          <div class="house-price">
            <div class="compare-text">Price:</div>
            <div class="positive">$759,900</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Square foot:</div>
            <div class="negative">1845</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Bedrooms:</div>
            <div class="negative">3</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Year built:</div>
            <div class="positive">2019</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Bathrooms:</div>
            <div class="negative">4(full)</div>
          </div>
          <div class="house-price">
            <div class="compare-text">Walkout basement:</div>
            <div class="negative">No</div>
          </div>
          <div class="listing-btn">
            <a href="property6" style="color: white;">View this listing</a>
          </div>
        </div>
      </div>
    </div>
  </body>

@code {

}
