@page "/compare"

<PageTitle>Compare</PageTitle>

<h1>Property Comparison</h1>

<div class="flex-container">

    <div class="flex-child left">
        <div>
            <p2>123 Earlgray Street SW</p2><br><br>
            <img src="https://images.pexels.com/photos/186077/pexels-photo-186077.jpeg?cs=srgb&dl=pexels-binyamin-mellish-186077.jpg&fm=jpg" alt="Property 3" width="300" height="200" /><br><br>
        </div>
        <div class="bad">
            <p>Price:</p>
            <p1>$699,999</p1><br><br>
        </div>
        <div class="bad">
            <p>Bedrooms:</p>
            <p1>3</p1><br><br>
        </div>
        <div>
            <p>Bathrooms:</p>
            <p1>2(full)+1(half)</p1><br><br>
        </div>
        <div>
            <p>House Size:</p>
            <p1>1650 sqft</p1><br><br>
        </div>
        <div>
            <p>Year Built:</p>
            <p1>2007</p1><br><br>
        </div>
        <div>
            <p>Lot Size:</p>
            <p1>4000 sqft</p1><br><br>
        </div>
        <div>
            <p>Walkout Basement:</p>
            <p1>No</p1><br><br>
        </div>
        <div>
            <p>Garage Size:</p>
            <p1>620 sqft</p1><br><br>
        </div>
        <div>
            <p>Garage Doors:</p>
            <p1>3</p1><br><br>
        </div>
    </div>

    <div class="flex-child middle">
        <p2>123 Smith Street NW</p2><br><br>
        <img src="https://images.pexels.com/photos/164558/pexels-photo-164558.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Property 2" width="300" height="200" /><br><br>
        <div>
            <p>Price:</p>
            <p1>$750,000</p1><br><br>
        </div>
        <div>
            <p>Bedrooms:</p>
            <p1>4</p1><br><br>
        </div>
        <div>
            <p>Bathrooms:</p>
            <p1>3(full) + 1(half)</p1><br><br>
        </div>
        <div>
            <p>House Size:</p>
            <p1>2500 sqft</p1><br><br>
        </div>
        <div>
            <p>Year Built:</p>
            <p1>1995</p1><br><br>
        </div>
        <div>
            <p>Lot Size:</p>
            <p1>6000ft</p1><br><br>
        </div>
        <div>
            <p>Walkout Basement:</p>
            <p1>No</p1><br><br>
        </div>
        <div>
            <p>Garage Size:</p>
            <p1>700 ft</p1><br><br>
        </div>
        <div>
            <p>Garage Doors:</p>
            <p1>Double</p1><br><br>
        </div>
    </div>

    <div class="flex-child right">
        <div>
            <p2>121 Center St SE</p2><br><br>
            <img src="HG.jpg" alt="Property 3" width="300" height="200"><br><br>
        </div>
        <div class="bad">
            <p>Price:</p>
            <p1>$XXX,XXX</p1><br><br>
        </div>
        <div class="good">
            <p>Bedrooms:</p>
            <p1>X</p1><br><br>
        </div>
        <div>
            <p>Bathrooms:</p>
            <p1>X</p1><br><br>
        </div>
        <div>
            <p>House Size:</p>
            <p1>X sqft</p1><br><br>
        </div>
        <div>
            <p>Lot Size:</p>
            <p1>Xft x Xft x Xft x Xft</p1><br><br>
        </div>
        <div>
            <p>Walkout Basement:</p>
            <p1>Yes</p1><br><br>
        </div>
        <div>
            <p>Garage Size:</p>
            <p1>Xft x Xft</p1><br><br>
        </div>
        <div>
            <p>Garage Doors:</p>
            <p1>Double</p1><br><br>
        </div>
        <div>
            <p>Green Space:</p>
            <p1>Yes</p1><br><br>
        </div>
    </div>

</div>

@code {

}
