@page "/Price_Results"

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" >
<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E" >
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

<div  class="d-flex flex-column align-items-center">
    <h3>Search Results</h3>

    <form  class="d-flex justify-content-center" id="search-form">
        <div class="search" style="position: relative;">
            <input type="text" name="search" style="width: 1200px;border-radius: 15px; border: 1px #000 solid; position: relative" />
            <a href="Search_Results2" style="color:#0077C8; padding: 0;border: none;background: none; margin:5px; text-decoration:none">
                Search
            </a>
        </div>
        <label for="sort" style="font-size:14px; margin:3px">Sort By:</label>
        <div class="select1">
            <select style="bottom:8px; width:fit-content">
                <option value="price">Price (High to Low)</option>
                <option value="relevance">Relevance</option>
                <option value="price">Price (Low to High)</option>
                <option value="square_feet">Square Feet</option>
                <option value="aeroplane">Date Listed</option>
            </select>
         </div>
        <div>
            <a class ="btn-primary" href="Price_Results" style="color:#0077C8; padding: 0;border: none;background: none; margin:5px;text-decoration:none">
                Sort
            </a>
        </div>
    </form>


        <div class="d-flex " style="width:100%">

        <div class="d-flex flex-column align-items-center" style="width:15%;height:fit-content; background-color:whitesmoke">
            <p>4 results</p>
            <h5>Active Filters</h5>
        
            <p style="border:3px; border-style:solid; border-color:#000; padding: 1em;">
            House Type: Duplex <button class="link" style="padding: 0;border: none;background: none;">X</button>
            </p>
        
            
            <p style="border:3px; border-style:solid; border-color:#000; padding: 1em;">
            Location: Calgary <a href="/Sort_Search_Results" class="link" style="padding: 0;border: none;background: none;text-decoration:none;color:black">X</a>
            </p>
        
            <p>
            <button class="link" style="padding: 0;border: none;background: none;">Reset Filters</button>
            </p>
        
            <h5>Refine my Results</h5>
            <label for="sort" style="font-size:20px;">Category:</label>
            <div class="select1">
                <select style="bottom:10px;width:fit-content">
                    <option value="duplex">Duplex</option>
                    <option value="townhouse">Townhouse</option>
                    <option value="apartment">Apartment</option>
                    <option value="land">Land</option>
                    <option value="bungalow">Bungalow</option>
                    <option value="single_detached">Single Detached</option>
                </select>
             </div>
            <label for="sort" style="font-size:20px;">Location:</label>
            <div class="select1">
                <select style="bottom:10px;width:fit-content">
                    <option value="car">Car</option>
                    <option value="bike">Bike</option>
                    <option value="train">Train</option>
                    <option value="aeroplane">Aeroplane</option>
                </select>
             </div>
            <label for="sort" style="font-size:20px;">Price:</label>
            <div class="select1">
                <select style="bottom:10px;width:fit-content">
                    <option value="car">Car</option>
                    <option value="bike">Bike</option>
                    <option value="train">Train</option>
                    <option value="aeroplane">Aeroplane</option>
                </select>
             </div>
            <label for="sort" style="font-size:20px;">Square Foot:</label>
            <div class="select1">
                <select style="bottom:10px;width:fit-content">
                    <option value="car">Car</option>
                    <option value="bike">Bike</option>
                    <option value="train">Train</option>
                    <option value="aeroplane">Aeroplane</option>
                </select>
             </div>
        </div>




        <div class="d-flex flex-column proerties-box" style="width:80%">
            <div class="d-flex " style="position:relative;justify-content:space-evenly">
                <div class="property ">
                  <div class="property-img-containter">
                    <img src=images/duplex2.jpg />
                  </div>
                  <div class="property-content">
                    <p class="property-description body-text">
                      <ul class="house-details">
                        <li class="with-icon">

                            <div class="d-flex">
                                <p class="item-heading">Address:</p> <p>123 Smith St NW, Calgary AB</p>
                                <h3 class="bi bi-heart heart ps-1"></h3>
                            </div>
                        </li>
                        <li><p class="item-heading">Square foot:</p> <p>2398</p></li>
                        <li><p class="item-heading">Bedroom:</p> <p>4</p></li>
                        <li><p class="item-heading">Bathroom:</p> <p>5(full) + 1(half)</p></li>
                      </ul>
                    </p>
                    <div class="bottom">
                      <p class="price">$ 920,000</p>
                      <button class="compare-btn">Compare</button>
                    </div>
                  </div>
                </div>
                    <div class="property ">
                  <div class="property-img-containter">
                    <img src=images/duplex1.jpg />
                  </div>
                  <div class="property-content">
                    <p class="property-description body-text">
                      <ul class="house-details">
                        <li class="with-icon">
                          
                            <div class="d-flex">
                                <p class="item-heading">Address:</p> <p>1707 17 Avenue NW, Calgary AB</p>
                                <h3 class="bi bi-heart heart ps-1"></h3>
                            </div>
                          
                        </li>
                        <li><p class="item-heading">Square foot:</p> <p>1845</p></li>
                        <li><p class="item-heading">Bedroom:</p> <p>3 + 1</p></li>
                        <li><p class="item-heading">Bathroom:</p> <p>4</p></li>
                      </ul>
                    </p>
                    <div class="bottom">
                      <p class="price">$ 759,900</p>
                      <button class="compare-btn">Compare</button>
                    </div>
                  </div>
                </div>
                
                    <div class="property ">
                  <div class="property-img-containter">
                    <img src=images/duplex3.jpg />
                  </div>
                  <div class="property-content">
                    <p class="property-description body-text">
                      <ul class="house-details">
                        <li class="with-icon">
                            <div class="d-flex">
                                <p class="item-heading">Address:</p> <p>12 James Ave NE, Calgary, AB</p>
                                <h3 class="bi bi-heart heart ps-1"></h3>
                            </div>

                        </li>
                        <li><p class="item-heading">Square foot:</p> <p>1700</p></li>
                        <li><p class="item-heading">Bedroom:</p> <p>3</p></li>
                        <li><p class="item-heading">Bathroom:</p> <p>2(full) + 1(half)</p></li>
                      </ul>
                    </p>
                    <div class="bottom">
                      <p class="price">$ 500,000</p>
                      <button class="compare-btn">Compare</button>
                    </div>
                  </div>
                </div>
              </div>
           
        </div>
  

    </div>



</div>

<style>

    * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.select1 {
    width: fit-content;
    overflow: hidden;
    border: 0;
    position: relative;
    padding: 10px 0;
}

/*.select1:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #0077C8;
    position: absolute;
    bottom: 24px;
    right: 5px;
    content: "";
    z-index: 98;
}*/

.select1 select  {
    width: 220px;
    border: 1px;
    position: relative;
    z-index: 99;
    background: none;
}

.img-with-text{
    display: block;
    margin: 0 auto;
}

/* creating a grid */
/* all the indiviual projects will be apart of this grid */
.proerties-box {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 1rem;
}

/* styling and aligning indiviual project card */
.property {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.house-details {
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.house-details {
    margin: 0px;
}

    .house-details li {
        display: flex;
    }

.item-heading {
    color: #0077c8;
}

/* align the image container for a project card */
.property-img-containter {
    /* rounding the top edges for effect */
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* resizing it to 1080 */
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

    /* formatting the image to fit the container and stay centered */
.property-img-containter img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
 }

/* styling the contet and creating flex box */
.property-content {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

/* styling the title at the top of the flexbox */
.project-title {
    font-family: "ZCOOL QingKe HuangYou", cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

/* after title in the flex box */
/* styling the description text */
.property-description {
    margin-bottom: 15px;
}

.bottom {
    display: flex;
    flex-direction: row;
}

.heart {
    width: 25px;
    height: auto;
    margin-left: auto;
    /* border: 2px red solid; */
}

.compare-btn {
    background-image: linear-gradient(90deg, #0077c8, #0faef2);
    background-clip: text;
    color: white;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    align-self: center;
    margin-left: auto;
    width: 100px;
    height: 30px;
}

.compare-btn:hover {
    transform: translateY(-2px);
}

.price {
    align-self: center;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #0077c8;
}
</style>