@page "/signup"


<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet" />

<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

<div class="log-body">
    <div class="log-content">
        <div class="sign-heading">Sign Up Form</div>
        <div class="sign-sub-heading">Please fill in all the fields below</div>

        <div class="input-container">
            <div class="input-box">
                <span class="details">Email</span>
                <input class="text-area"
                       type="email"
                       placeholder="Enter your email" />
            </div>

            <div class="input-box">
                <span class="details">Password</span>
                <input class="text-area"
                       type="text"
                       placeholder="Enter your password" />
            </div>

            <div class="input-box">
                <span class="details">Password</span>
                <input class="text-area"
                       type="text"
                       placeholder="Enter your password" />
            </div>

            <a class="signup-btn btn btn-primary" href="homepage">Sign up</a>
        </div>
    </div>
</div>

@code {

}
