/* /Pages/PropertyDetail.razor.rz.scp.css */
body[b-7o602krxmp] {
}

.butt[b-7o602krxmp] {
    width: 150px !important;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #0076C6 !important;
    padding-left: 10px;
    padding-right: 10px;
    height:60px;
}

.butt2[b-7o602krxmp] {
    height:60px;
    width: 150px !important;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.textColor[b-7o602krxmp] {
    color: #0076C6;
}

.line[b-7o602krxmp] {
    border: 5px solid #0076C6;
    border-radius: 5px;
    width: 15% !important;
}

img[b-7o602krxmp]{
    animation-delay:2s;
}
