/* /Pages/Appointment.razor.rz.scp.css */
.pageTitle[b-o2oy5e49cx] {
    padding-left: 2em;
    padding-top: 1em;
    color: #0077C8;
}

.aptHeader[b-o2oy5e49cx] {

}
.aptBox[b-o2oy5e49cx] {
    padding-top: 1.5em;
}

.apptInfo[b-o2oy5e49cx] {
    padding-left:1em;
}

.appts[b-o2oy5e49cx] {
    padding-top: 1em;
    padding-right:1em;
}

.apptDetails[b-o2oy5e49cx] {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* /Pages/Favourites.razor.rz.scp.css */
.pageTitle[b-f6b5nx1ign] {
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #0077C8;
}

.row[b-f6b5nx1ign] {
    padding-bottom: 2em;
}

.search-bar[b-f6b5nx1ign] {
    padding-bottom: 2em;
}
/* /Pages/TrackedListings.razor.rz.scp.css */

.pageTitle[b-klbl6yfze6] {
    padding-left: 2em;
    padding-top: 1em;
    color: #0077C8;
}

.img-fixed[b-klbl6yfze6] {
    width: 300px;
}

.availability[b-klbl6yfze6] {
    padding-bottom: 1em;
}

.listing[b-klbl6yfze6] {
    background: rgba(0, 119, 200, 0.12);
}

.community[b-klbl6yfze6] {
    padding-top: 4em;

}

.c[b-klbl6yfze6] {
    background: rgba(0, 119, 200, 0.12);
}

.avail[b-klbl6yfze6] {
    color:green;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */
.bg-custom[b-aw7s1uks9t] {
    background-image: linear-gradient(15deg, #0077C8 0%, #2C9FED 100%);
}

.nav.navbar-nav li a[b-aw7s1uks9t] {
    color: white !important;
}
