/* /Pages/Appointment.razor.rz.scp.css */
.pageTitle[b-o2oy5e49cx] {
    padding-left: 2em;
    padding-top: 1em;
    color: #0077C8;
}

.aptHeader[b-o2oy5e49cx] {

}
.aptBox[b-o2oy5e49cx] {
    padding-top: 1.5em;
}

.apptInfo[b-o2oy5e49cx] {
    padding-left:1em;
}

.appts[b-o2oy5e49cx] {
    padding-top: 1em;
    padding-right:1em;
}

.apptDetails[b-o2oy5e49cx] {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

/* /Pages/Favourites.razor.rz.scp.css */
.pageTitle[b-f6b5nx1ign] {
    padding-left: 2em;
    padding-top: 1em;
    color: #0077C8;
}
/* /Pages/TrackedListings.razor.rz.scp.css */

.pageTitle[b-klbl6yfze6] {
    padding-left: 2em;
    padding-top: 1em;
    color: #0077C8;
}
/* /Shared/MainLayout.razor.rz.scp.css */
/* /Shared/NavMenu.razor.rz.scp.css */
.bg-custom[b-aw7s1uks9t] {
    background-image: linear-gradient(15deg, #0077C8 0%, #2C9FED 100%);
}

.nav.navbar-nav li a[b-aw7s1uks9t] {
    color: white !important;
}
