@inherits LayoutComponentBase

<div class="page">
@*    <div>
        <NavMenu />
        </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>*@

    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Favourites</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Appointments</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Homepage</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Mortgage Calculator</a>
                </li>
@*                <li class="nav-item active">
                    <i class="fa fa-search"></i>
                </li>*@

            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <h1> Appointments </h1>
    </div>
</div>
