@inherits LayoutComponentBase
<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!--<NewNav/>-->


    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

