<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active">
                <NavLink class="nav-link" href="#">Favourites</NavLink>
            </li>
            <li class="nav-item active">
                <NavLink class="nav-link" href="appointment">Appointments</NavLink>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Homepage</a>
            </li>
            <li class="nav-item active"> 
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Mortgage Calculator</a>
            </li>
@*                <li class="nav-item active">
                <i class="fa fa-search"></i>
            </li>*@

        </ul>
    </div>
</nav>