<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item active">
                <a class="navbar-brand" href="homepage">
                    <img src="https://www.cirrealty.ca/Themes/CIR-Blue/Content/images/CIR_Logo_Blue-Square_spot-p-800.jpeg" width="30" height="30" alt="" />
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="homepage">Homepage</a>
            </li>
            <li class="nav-item active">
                <NavLink class="nav-link" href="favourites">Favourites</NavLink>
            </li>
            <li class="nav-item active">
                <NavLink class="nav-link" href="appointment">Appointments</NavLink>
            </li>

            <li class="nav-item active"> 
                <a class="nav-link" href="homepage">Contact Us</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="mortgage">Mortgage Calculator</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="homepage"><span class="fa fa-search"></span>
                    Search

                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="homepage"><span class="fa fa-user"></span>
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>