.pageTitle[b-wzdh9kcudw] {
    padding-left: 2em;
    padding-top: 1em;
    color: #0077C8;
}

.aptHeader[b-wzdh9kcudw] {

}
.aptBox[b-wzdh9kcudw] {
    padding-top: 1.5em;
}

.apptInfo[b-wzdh9kcudw] {
    padding-left:1em;
}

.appts[b-wzdh9kcudw] {
    padding-top: 1em;
    padding-right:1em;
}

.apptDetails[b-wzdh9kcudw] {
    padding-top: 1em;
    padding-bottom: 0.5em;
}

