body[b-ttk8eux4xi] {
}

.butt[b-ttk8eux4xi] {
    width: 150px !important;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #0076C6 !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}

.butt2[b-ttk8eux4xi] {
    height: 60px;
    width: 150px !important;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.textColor[b-ttk8eux4xi] {
    color: #0076C6;
}

.line[b-ttk8eux4xi] {
    border: 5px solid #0076C6;
    border-radius: 5px;
    width: 15% !important;
}

img[b-ttk8eux4xi] {
    animation-delay: 2s;
}
